<div class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/home">Home</a>
  
      <!-- เมนูสำหรับ customer -->
      <div *ngIf="role === 'customer'" class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/homecus" routerLinkActive="active">Customer Dashboard</a>
        <a class="nav-item nav-link" routerLink="/update-profile" routerLinkActive="active">Update Profile</a>
        <a class="nav-item nav-link" routerLink="/register-technician" routerLinkActive="active">Register Technician</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
      </div>
  
      <!-- เมนูสำหรับ technician -->
      <div *ngIf="role === 'technician'" class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/hometech" routerLinkActive="active">Technician Dashboard</a>
        <a class="nav-item nav-link" routerLink="/update-profile" routerLinkActive="active">Update Profile</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
      </div>
  
      <!-- เมนูสำหรับ admin -->
      <div *ngIf="role === 'admin'" class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/admindashboard" routerLinkActive="active">Admin Dashboard</a>
        <a class="nav-item nav-link" routerLink="/update-profile" routerLinkActive="active">Update Profile</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
      </div>
  
      <!-- เมนูทั่วไป สำหรับการลงทะเบียนและล็อกอิน -->
      <div *ngIf="!role" class="navbar-nav ml-auto">
        <a class="nav-item nav-link" routerLink="/register" routerLinkActive="active">Register</a>
        <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </div>
    </div>
  </div>
  
  <!-- เนื้อหาหลัก -->
  <router-outlet></router-outlet>
 
